* {
    display: block;
    direction: rtl;
    font-family: 'Alef', sans-serif;
    color: rgb(39, 39, 39);
}

li {
    margin-bottom: 20px;
    margin-top: 20px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

.textContainer {
    background-color: white;
    width: 100%;
    max-width: 700px;
    padding: 40px;
    margin: 20px 10px 20px 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.headline {
    font-size: 30px;
    font-family: 'Alef', sans-serif;
    margin-bottom: 20px;
    color: black;
}